
@import url(https://fonts.googleapis.com/css?family=Berkshire+Swash);
/* Vars */
/* Animations */
@keyframes hover {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -0.2em, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
/* Styles */
* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
}

body {
  font-size: 200%;
  background-color: #b33;
 }


.headline {
  padding-top: 1em;
  margin-bottom: .5em;
  color: white;
  font-family: 'Berkshire Swash', cursive;
  font-weight: normal;
  text-align: center;
  text-shadow: 0 .05em .1em #fff;
  animation-name: hover;
  animation-iteration-count: infinite;
  animation-duration: 3.5s;
}

.subheading {
  margin-bottom: .5em;
  color: white;
  font-family: 'Berkshire Swash', cursive;
  font-weight: normal;
  text-align: center;
  text-shadow: 0 .05em .1em #fff;
  animation-name: hover;
  animation-iteration-count: infinite;
  animation-duration: 3.5s;
}

button {
    margin-top: 20px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}